<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
                     android:maxSdkVersion="28" />

    <application
        android:name=".HealthTrackerApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS4084_Group_01"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".WaterTrackingActivity"
            android:exported="false"
            android:label="Water Tracking" />
        <activity
            android:name=".StepCounterActivity"
            android:exported="false" />
        <activity
            android:name=".MoodTrackerActivity"
            android:exported="false"
            android:label="Mood Tracker" />
        <activity
            android:name=".HealthDashboardActivity"
            android:exported="false"
            android:label="Health Dashboard" />
        <activity
            android:name=".MealLoggerActivity"
            android:exported="false" />
        <activity
            android:name=".MoodSelection"
            android:exported="false" />
        <activity
            android:name=".BmiCalculatorActivity"
            android:exported="false"
            android:label="BMI Calculator" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings" />
        <activity
            android:name=".ExportDataActivity"
            android:exported="false"
            android:label="Export Health Data" />
        <service
            android:name=".StepCounterService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="health" />

        <activity
            android:name=".WorkoutTrackingActivity"
            android:exported="false"
            android:label="Workout Tracker" />
            
        <activity
            android:name=".MeditationTimerActivity"
            android:exported="false"
            android:label="Meditation Timer" />
            
        <activity
            android:name=".SleepTrackingActivity"
            android:exported="false"
            android:label="Sleep Tracker" />

        <activity
            android:name=".HealthProgressActivity"
            android:exported="false"
            android:label="Health Goals"
            android:parentActivityName=".HealthDashboardActivity" />
            
        <activity
            android:name=".CampusGymActivity"
            android:exported="false"
            android:label="UL Sport Gym"
            android:parentActivityName=".HealthDashboardActivity" />
            
        <!-- File Provider for sharing exported files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>